{%extends 'generalPageStyling.html'%}

{%block mainBlock%}
<div class="container">
<h1>New Tap</h1>
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="/home">Home</a>
    </li>
    {% if request.path == '/home/taps/new'%}
      <li class="breadcrumb-item">
              <a href="/home/taps">Taps</a>
          </li>
      <li class="breadcrumb-item active">New</li>
    {%else%}
      <li class="breadcrumb-item active">Taps</li>
    {%endif%}
</ol>

<div class="row">
  <div>
  <h2 class="text-center">How the taps are being added?</h2>
  <p>On this page you can add a tap to our storage which will allow you to later
    on use our map services to find a route leading to this tap or to any other
    people were kind enough to save. <br> If you want you can add a picture with
    the coordinates and address of the tap. This will make it easier for other
    people to find the tap.</p>
  </div>

</div>

<!-- This is for adding a picture to the database: -->
<form name="pictureForm" class="form-group" method="post" action="">
  <input type="file" name="image"/> <br>
</form>

<button type="button" name="button" onclick="getLocation2()">Add Tap</button>
<p id="error-message"></p>


<div class="box">
  <table id="existing-taps">

  </table>
</div>

<script type="text/javascript" src="/static/js/Location.js"></script>
<script type="text/javascript" src="/static/js/openTapData.js"></script>
<!-- The openTapData.js file will be used to present a table that with all of
the existing taps, meaning that people will not try to add taps that already exist to the database-->
</div>
{%endblock%}
