{%extends 'generalPageStyling.html'%}


{%block mainBlock%}
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">Admin
    </h1>

    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/home">Home</a>
        </li>
        {% if request.path == '/home/login/admin'%} 
        <li class="breadcrumb-item">
                <a href="/home/login">Login</a>
            </li>
        <li class="breadcrumb-item active">Admin</li>
        {%else%}
        <li class="breadcrumb-item active">Login</li>
        {%endif%}
    </ol>

    <h2> Databases</h2>
    <form action="/home/login/admin/tapsDB" method = "get">
         <button type="submit" class="btn btn-primary">Taps Database</button>
    </form>
    <form action="/home/login/admin/reviewsDB" method = "get">
      <button type="submit" class="btn btn-primary">Comments Database</button>
 </form>
    <form action="/home/login/admin/usersDB" method = "get">
      <button type="submit" class="btn btn-primary">Users Database</button>
 </form>

{%endblock%}