{%extends 'generalPageStyling.html'%}


{%block mainBlock%}
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">Admin
    </h1>

    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/home">Home</a>
        </li>
        {% if request.path == '/home/login/admin'%} 
        <li class="breadcrumb-item">
                <a href="/home/login">Login</a>
            </li>
        <li class="breadcrumb-item active">Admin</li>
        {%else%}
        <li class="breadcrumb-item active">Login</li>
        {%endif%}
    </ol>

    <h2> Databases</h2>
<table border = 1>
   <thead>
      <td>ID</td>
      <td>UserName</td>
      <td>Password</td>
      <td>Role</td>
   </thead>

   {% for row in data %}
   <!-- A List of tuples so row is each item in the list
        and then the index is the column number.-->
      <tr>
        <td>{{row[0]}}</td>
        <td>{{row[1]}}</td>
        <td>{{row[2]}}</td>
        <td>{{row[3]}}</td>
      </tr>
   {% endfor %}
</table>
{%endblock%}