{%extends 'generalPageStyling.html'%}


{%block mainBlock%}
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">Comments on Taps
    </h1>

    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/home">Home</a>
        </li>
        {% if request.path == '/home/taps/comments'%} 
        <li class="breadcrumb-item">
                <a href="/home/taps">Taps</a>
            </li>
        <li class="breadcrumb-item active">Comments</li>
        {%else%}
        <li class="breadcrumb-item active">Taps</li>
        {%endif%}
    </ol>

</div>
{%endblock%}