{%extends 'generalPageStyling.html'%}


{%block mainBlock%}
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">Comments on Taps
    </h1>

    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/home">Home</a>
        </li>
        {% if request.path == '/home/taps/comments'%} 
        <li class="breadcrumb-item">
                <a href="/home/taps">Taps</a>
            </li>
        <li class="breadcrumb-item active">Comments</li>
        {%else%}
        <li class="breadcrumb-item active">Taps</li>
        {%endif%}
    </ol>

    <!-- Intro Content about the webpage -->
    <div class="row">
        <div>
        <h2 class="text-center">What are comments used for?</h2>
        <p class="text-center">These comments will go along with the pictures that users upload of their taps, so they can add details about them if they choose to. We can also use these comments to gauge the feedback about the service as well. </p>
        </div>
    </div>
    <!-- /.row -->

    <!-- Comments form -->
    <h2>Comments form</h2>
    <div class="row">
        <div class="col-lg-8 mb-4">
            <form id='myForm' action='/WeDontWantThis' method='get' onsubmit="return loadName()">
            <div class="control-group form-group">
            <div class="controls">
                <label for="comments">Input your comment:</label>
                <textarea rows="10" cols="100" class="form-control" id="comments" required data-validation-required-message="Please enter your Comment" maxlength="999" style="resize:none"></textarea>
            </div>
            </div>
            <div class="control-group form-group">
            <div class="controls">
                <label>Date of review</label>
                <input type="date" class="form-control" id="date" required data-validation-required-message="Please The Date.">
            </div>
            </div>
            <div id="success"></div>
            <!-- For success/fail messages -->
            <button type="submit" class="btn btn-primary" id="sendMessageButton">Send Comment</button>
            </form>
            <span id='txt'></span>
        </div>

    </div>


    <!-- <script>
        function loadName() {
          var comments = document.forms["myForm"]["comments"].value;
          var date = document.forms["myForm"]["date"].value;
          var params = 'comments='+comments+'&date='+date;
          var xhttp = new XMLHttpRequest();
          xhttp.open("POST", '/AddComment', true); // true is asynchronous
          xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
          xhttp.onreadystatechange = function() {
            if (xhttp.readyState === 4 && xhttp.status === 200) {
              console.log(xhttp.responseText);
              document.getElementById("txt").innerHTML = xhttp.responseText;
            } else {
              console.error(xhttp.statusText);
            }
          };
          xhttp.send(params);
          return false;
        }
      </script> -->


</div>
{%endblock%}