{%extends 'generalPageStyling.html'%}


{%block mainBlock%}
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">Why use taps?
    </h1>

    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/home">Home</a>
        </li>
        <li class="breadcrumb-item">
            <a href="/home">about</a>
        </li>
        <li class="breadcrumb-item active">FAQ</li>
    </ol>

    <div class="mb-4" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="card">
        <div class="card-header" role="tab" id="headingOne">
            <h5 class="mb-0">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Where did water come from?</a>
            </h5>
        </div>

        <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
            <div class="card-body">
            It is said that water first came from astriods (more specifically icy planetesimals) impacting the planet very early on in history.
            They have said that they came from the astrold belt. 
            </div>
        </div>
        </div>
        <div class="card">
        <div class="card-header" role="tab" id="headingTwo">
            <h5 class="mb-0">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">What is the current state of water?
            </a>
            </h5>
        </div>
        <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
            <div class="card-body">
                In 41 countries, a fifth of people drink water from a souces that is not protected from contamination.
                So as a whole people are working towards a world where everyone can have access to clean water.
            </div>
        </div>
        </div>
        <div class="card">
        <div class="card-header" role="tab" id="headingThree">
            <h5 class="mb-0">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">What is the future of water?</a>
            </h5>
        </div>
        <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
            <div class="card-body">
                The future of water would lie in hydroelectric power, as that can be a very useful renewable energy that people can use in the future.
                Even though hydroelectric power is being used by a lot of countries right now, it's not widely used by the general public and is something I feel like will be usful to look into for the future. 
            </div>
        </div>
        </div>
        <div class="card">
            <div class="card-header" role="tab" id="headingFour">
                <h5 class="mb-0">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseThree">Why was this service set up?</a>
                </h5>
            </div>
            <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour">
                <div class="card-body">
                About 1 million plastic bottles are purchased every minute and about 80% them turn into landfill and as a team we don't see that as very funky.
                So we created this service so people can find water, without having to buy more plastic bottles to add too this landfill.
                If you want to make sure that the amount of single use plastic ending up in the oceans doesn't outweigh fish by 2050, then try out the use of water, it's as simple as water.
                </div>
            </div>
            </div>
        <div class="card">
            <div class="card-header" role="tab" id="headingFive">
                <h5 class="mb-0">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseThree">How would I go about uploading a tap?</a>
                </h5>
            </div>
            <div id="collapseFive" class="collapse" role="tabpanel" aria-labelledby="headingFive">
                <div class="card-body">
                You would go about doing this, by going to the new taps page and uploading your image and then uploading comment/review.
                Once this is done it will upload the data to the datbase, and then get sent to the nearby taps page and the home page and you can see your tap in real time.
                </div>
            </div>
            </div>
    </div>

</div>
{%endblock%}
