<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Water Web</title>
    <!-- https://pixabay.com/vectors/drop-water-prcious-blue-liquid-312396/ -->
    <link rel="shortcut icon" href="static/img/favicon.ico" type="image/x-icon" /> 
    <!-- Bootstrap -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/Stylesheet.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

  </head>
  <body>
    <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
        <div class="container-fluid">
            <div id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;">
                <div class="collapse navbar-collapse" id="myNavbar">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="/home">
                                <img src="static/img/favicon.ico" width="30" height="30" class="d-inline-block align-top" alt="">
                                Water Web
                            </a>
                        </div>
                        <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link" href="/taps/nearme">Nearby Taps</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/taps/add">Add A Tap</a>
                        </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <div class="jumbotron">
      <div class="container">
        <h1>Water Web:
           Refill a waterbottle to save the planet and destroy Capitalism</h1>
      </div>
    </div>

    <article>
      {% block mainBlock%}Page under construction. {%endblock%}
    </article>


    <script src="/static/js/bootstrap.min.js"></script>
  </body>
</html>
