{%extends 'generalPageStyling.html'%}


{%block mainBlock%}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
crossorigin=""></script>

  <div class="container">

    <h1 class="mt-4 mb-3">
        Tap Info
    </h1>

    <div id="lat" style="display: none;">{{alltapdata.Latitude}}</div>
    <div id="lng" style="display: none;">{{alltapdata.Longitude}}</div>
    <div id="pop" style="display: none;">{{alltapdata.Address}}</div>

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="/home">Home</a>
      </li>
      <li class="breadcrumb-item">
        <a href="/home/taps">Taps</a>
      </li>
      <li class="breadcrumb-item">
        tapID
      </li>
      <li class="breadcrumb-item active">Info</li>
    </ol>

    <div class="row">

      <div class="col-lg-8">

        <img class="img-fluid rounded" src="http://placehold.it/900x300" alt="">

        <hr>

        <p>Posted on {{alltapdata.PostDate}} by
          <a href={{alltapdata.UserLink}}>{{alltapdata.UserName}}</a>
        </p>

        <hr>

        <p class="lead">{{alltapdata.Address}}</p>
        <p>{{alltapdata.Description}}</p>
        <hr>

        <!-- Comments Form -->
        <div class="card my-4">
          <h5 class="card-header">Leave a Comment:</h5>
          <div class="card-body">
            <form>
              <div class="form-group">
                <textarea class="form-control" rows="3"></textarea>
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
        </div>

        <!-- Single Comment -->
        <div class="media mb-4">
          <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
          <div class="media-body">
            <h5 class="mt-0">Commenter Name</h5>
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
          </div>
        </div>

      </div>

      <div class="col-md-4">
      
        <div class="card my-4">
          <h5 class="card-header">Map</h5>
          <div class="card-body">
            <div id="mapid" class="TapWaypoint" style="width: 100%; height: 25vh;"></div>
          </div>
        </div>

        <div class="card mb-4">
          <h5 class="card-header">Search</h5>
          <div class="card-body">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search for...">
              <span class="input-group-btn">
                <button class="btn btn-secondary" type="button">Go!</button>
              </span>
            </div>
          </div>
        </div>


        <div class="card my-4">
            <h5 class="card-header">Locations</h5>
            <div class="card-body">
            <div class="row">
                <div class="col-lg-6">
                <ul class="list-unstyled mb-0">
                    <li>
                    <a href="#">Chruchs</a>
                    </li>
                    <li>
                    <a href="#">High Streets</a>
                    </li>
                    <li>
                    <a href="#">Misc</a>
                    </li>
                </ul>
                </div>
                <div class="col-lg-6">
                <ul class="list-unstyled mb-0">
                    <li>
                    <a href="#">Graveayards</a>
                    </li>
                    <li>
                    <a href="#">Pubs/Bars</a>
                    </li>
                </ul>
                </div>
            </div>
            </div>
        </div>
      </div>

    </div>

    <script type="text/javascript" src="/static/js/LeafletMapData.js"></script>
    <script type="text/javascript" src="/static/js/Location.js"></script>

  </div>
  {%endblock%}
