{%extends 'generalPageStyling.html'%}


{%block mainBlock%}
<div class="container">

    <input hidden id='pos_lat' value='' />
    <input hidden id='pos_lng' value='' />
    <script type="text/javascript" src="/static/js/Distance.js"></script>
    <script type="text/javascript" src="/static/js/ChangePage.js"></script>
    <script type="text/javascript" src="/static/js/Search.js"></script>

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">Taps
    </h1>

    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/home">Home</a>
        </li>
        {% if request.path == '/home/taps/near'%}
        <li class="breadcrumb-item">
                <a href="/home/taps">Taps</a>
            </li>
        <li class="breadcrumb-item active">Nearby</li>
        {%else%}
        <li class="breadcrumb-item active">Taps</li>
        {%endif%}
    </ol>

    <div class="row">

        <div class="col-md-8">

            {%for tapdata in alltapdata%}
                <div class="card mb-4">
                    <img class="card-img-top" src={{tapdata.Image}} alt="Tap Image" width="750px" height="300px">
                    <div class="card-body">
                    <h2 class="card-title">{{tapdata.Address}}</h2>
                    <p class="card-text">{{tapdata.Description}}</p>
                    <a href="/home/taps/{{tapdata.TapID}}/location" class="btn btn-primary RightLoc">Go To &rarr;</a>
                    <a href="/home/taps/{{tapdata.TapID}}/info" class="btn btn-info">More Info</a>
                    </div>
                    <div class="card-footer text-muted">
                        Posted on {{tapdata.PostDate}} by
                        <a href={{tapdata.UserLink}}>{{tapdata.UserName}}</a>
                        <p class="RightLoc" id={{tapdata.TapID}}></p>
                        <script>getDistanceFromLatLonInKm({{tapdata.Latitude}}, {{tapdata.Longitude}}, {{tapdata.TapID}})</script>
                        <img class="RightLoc" src="/static/img/distanceMarker.png" alt="" height="25" width="14">
                    </div>
                </div>
            {%endfor%}

            <ul class="pagination justify-content-center mb-4">
                <li class="page-item">
                <a class="page-link" onclick="ChangePage(-1)" style="color:#007bff">&larr; Previous</a>
                </li>
                <li class="page-item">
                <a class="page-link" onclick="ChangePage(1)" style="color:#007bff">Next &rarr;</a>
                </li>
            </ul>

        </div>

        <div class="col-md-4">

            <div class="card mb-4">
                <h5 class="card-header">Search</h5>
                <div class="card-body">
                <div class="input-group">
                    <input type="text" class="form-control" id="SearchInput" placeholder="Search for...">
                    <span class="input-group-btn">
                        <button class="btn btn-secondary" onclick="LoadSearch()" type="button">Go!</button>
                    </span>
                </div>
                </div>
            </div>

            <div class="card my-4">
                <h5 class="card-header">Locations</h5>
                <div class="card-body">
                <div class="row">
                    <div class="col-lg-6">
                    <ul class="list-unstyled mb-0">
                        <li>
                        <a href="#">Chruchs</a>
                        </li>
                        <li>
                        <a href="#">High Streets</a>
                        </li>
                        <li>
                        <a href="#">Misc</a>
                        </li>
                    </ul>
                    </div>
                    <div class="col-lg-6">
                    <ul class="list-unstyled mb-0">
                        <li>
                        <a href="#">Graveayards</a>
                        </li>
                        <li>
                        <a href="#">Pubs/Bars</a>
                        </li>
                    </ul>
                    </div>
                </div>
                </div>
            </div>

            <div class="card my-4">
                <h5 class="card-header">A message from our sponsors</h5>
                <div class="card-body">
                    <img src="https://via.placeholder.com/310x620?text=Advert" alt="Advert Image">
                </div>
            </div>

        </div>

    </div>

</div>
{%endblock%}
