{%extends 'generalPageStyling.html'%}


{%block mainBlock%}
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">Tap Database
    </h1>

    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/home">Home</a>
        </li>
        {% if request.path == '/home/login/admin/tapsDB'%} 
        <li class="breadcrumb-item">
                <a href="/home/login">Login</a>
            </li>
        <li class="breadcrumb-item active">
                <a href="/home/login/admin">Admin</a>
        </li>
        <li class="breadcrumb-item active">Tap Database</li>
        {%else%}
        <li class="breadcrumb-item active">Login</li>
        {%endif%}
    </ol>

<table border = 1>
   <thead>
      <td>ID</td>
      <td>Address</td>
      <td>Latitude</td>
      <td>Longitude</td>
      <td>Picture</td>
      <td>User-ID</td>
      <td>Post Date</td>
      <td>Description</td>
   </thead>

   {% for row in data %}
      <tr>
        <td>{{row[0]}}</td>
        <td>{{row[1]}}</td>
        <td>{{row[2]}}</td>
        <td>{{row[3]}}</td>
        <td>{{row[4]}}</td>
        <td>{{row[5]}}</td>
        <td>{{row[6]}}</td>
        <td>{{row[7]}}</td>
      </tr>
   {% endfor %}
</table>

<div class="row">
    <div class="col-lg-8 mb-4">
        <form id='deleteTapForm' name="loginMessage" onsubmit="return deleteName()">
            <div class="control-group form-group">
            <div class="controls">
                <label>What id would you like to delete:</label>
                <input type="number" class="form-control" name="idDelete" required data-validation-required-message="Please Enter Username.">
            </div>
            </div>
            <div id="delete"></div>
            <!-- For success/fail messages -->
            <button type="submit" class="btn btn-primary" id="deleteButton">Submit</button>
        </form>
        <span id='txt'></span>

        <script>
            function deleteName() {
            var idDelete = document.forms["deleteTapForm"]["idDelete"].value;
            var params = 'idDelete='+idDelete;
            var xhttp = new XMLHttpRequest();
            xhttp.open("DELETE", '/deleteTap', true); // true is asynchronous
            xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            xhttp.onreadystatechange = function() {
                if (xhttp.readyState === 4 && xhttp.status === 200) {
                console.log(xhttp.responseText);
                document.getElementById("txt").innerHTML = xhttp.responseText;
                } else {
                console.error(xhttp.statusText);
                }
            };
            xhttp.send(params);
            return false;
            }
      </script>

{%endblock%}